.features__list {
  @extend %list;

  @include for-tablet-up {
    @include elements-set;
  }
}

.features__list-item {
  &:not(:last-child) {
    @include for-phone-only {
      margin-bottom: $column-gap;
    }
  }

  @include for-tablet-up {
    @include element;
    flex-basis: get-column-basis(2);
  }

  @include for-desktop-up {
    flex-basis: get-column-basis(4);
  }
}

.features__item-wrapper {
  @include flex-centered;
  height: 120px;
  margin-bottom: $column-gap;
  @include set-colors($title-text-color, $shadow-bg-color);
  border-radius: 4px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
