.hero {
  @include flex-centered;
  height: 400px;

  // @include for-tablet-up {

  // }

  @include for-desktop-up {
    // padding-top: 200px;
    // padding-bottom: 200px;
    height: 600px;
  }
}

.hero--overlay {
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  //todo change background images
  background-image: linear-gradient($gradient-color, $gradient-color),
    url('../images/hero.jpg');

  @include for-tablet-up {
    //todo change background images
  }

  @include for-desktop-up {
    // background-image: linear-gradient($gradient-color, $gradient-color),
    //   url('../images/hero.jpg');
    max-width: 1600px;
    //todo change background images
  }
}

.hero__inner-wrap {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  @include for-desktop-up {
    max-width: 700px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 30px;

  @include for-desktop-up {
    font-size: 44px;
    line-height: 1.36;
  }
}
