.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  z-index: 1;
}

.page-header__logo {
  @include for-tablet-up {
    margin-right: 88px;
  }

  @include for-desktop-up {
    margin-right: 93px;
  }
}

.page-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include for-phone-only {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @include for-phone-only {
    display: none;
  }
}

.page-header__inner-wrap-nav {
  @include flex-centered;
}

.page-header__site-nav,
.page-header__auth-nav {
  @extend %list;
  display: flex;
}

.page-header__auth-nav {
  margin-left: auto;
}

.page-header__list-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
