.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-color;
}

.page-footer__container {
  text-align: center;

  @include for-tablet-up {
    @include elements-set;
    align-items: baseline;
  }
}

.page-footer__inner-wrap {
  @include for-tablet-down {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @include for-tablet-up {
    @include element;
    flex-basis: get-column-basis(2);
  }
  @include for-desktop-up {
    flex-basis: get-column-basis(4);
    //width: 270px;
    // margin-right: $column-gap;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  font-style: inherit;
}

.page-footer__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}

.page-footer__link {
  @extend %link;
  @extend .page-footer__text;
  margin-top: 9px;
  color: $secondary-white-color;

  transition: get-transition-prop(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__form-container {
  flex-grow: 2;

  @include for-tablet-down {
    margin-top: 0;
    margin-bottom: 15px;
  }

  @include for-phone-only {
    margin-bottom: 0;
  }
}
