.team {
  background-color: $shadow-bg-color;
}

.team__list {
  @extend %list;
  @include for-tablet-up {
    @include elements-set;
  }
}

.team__list-item {
  overflow: hidden;
  box-shadow: $standart-shadow;
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-white-color;

  @include for-phone-only {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: $column-gap;
    }
  }

  @include for-tablet-up {
    @include element;
    flex-basis: get-column-basis(2);
  }

  @include for-desktop-up {
    flex-basis: get-column-basis(4);
  }
}

.team__photo {
  width: 100%;
}

.team__wrap {
  padding: 30px 15px 24px;
  text-align: center;

  @include for-desktop-up {
    padding-bottom: 30px;
  }
}

%team-font {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__subtitle {
  @extend %team-font;
  margin-bottom: 10px;
  font-weight: 500;
}
.team__descr {
  @extend %team-font;
  margin-bottom: 16px;
}
