.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  height: 581px;
  background-color: $primary-white-color;
  box-shadow: $standart-shadow;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: get-transition-prop(transform);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__wrap {
  padding: 40px;
  text-align: center;
}

.modal__header {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
