.portfolio-card {
  height: 100%;
}

.portfolio-card__link {
  display: block;
  box-shadow: none;
  transition: get-transition-prop(box-shadow);
  color: inherit;
  text-decoration: none;

  @include for-tablet-up {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba($black-color, 0.12),
      0px 4px 4px rgba($black-color, 0.06), 1px 4px 6px rgba($black-color, 0.16);
  }
}

.portfolio-card__photo-thumb {
  position: relative;
  z-index: 0;
  overflow: hidden;
  // @include for-tablet-up {
  //   flex-grow: 0;
  // }
}

.portfolio-card__overlay {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  @include set-colors($primary-white-color, rgba($accent-color, 0.9));

  transform: translateY(100%);
  transition: get-transition-prop(transform);

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-card__photo {
  max-width: 100%;
  height: auto;
}

.portfolio-card__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  @include for-tablet-up {
    flex-grow: 1;
  }
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
